.body-text {
    font-family: "Roboto", sans-serif;
   font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.title-one {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
.title-two {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
.title-three {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2%;
}
.button-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
.nav-text {
    text-decoration: none;
    color: black;
    
}